.texto {
    margin-top: 2rem;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    p {
        font-size: 20px;
    }

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    &__Iconos {
        display: flex;
        flex-direction: row;
        gap: 5rem;

        p {
            font-size: 20px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            color: $colorPrincipal;
        }
    }

}