/* IMPORTANDO VARIABLES */ /* VARIABLES */
.texto {
  margin-top: 2rem;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.texto p {
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.footer__Iconos {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: 2rem;
}
.footer__Iconos p {
  font-size: 20px;
}
.footer__Iconos a {
  text-decoration: none;
  color: black;
}
.footer__Iconos a:hover {
  color: #0D6EFD;
}

#productos {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
}
#productos .efectProducto:hover {
  transform: scale(1.18);
}

.contenedor {
  display: flex;
  width: 94%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background: rgb(204, 205, 208);
  background: linear-gradient(135deg, rgb(204, 205, 208) 15%, rgb(220, 221, 225) 53%, rgb(255, 255, 255) 100%);
  flex-direction: row;
  border-radius: 10px;
  gap: 2rem;
}
.contenedor__uno {
  display: flex;
  width: 46%;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 5rem;
  align-items: center;
  flex-direction: column;
}
.contenedor__dos {
  display: flex;
  width: 46%;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  align-items: center;
  flex-direction: column;
}
.contenedor__titulo {
  color: #0632AD;
}

#productos__Galeria {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
}
#productos__Galeria div {
  border-color: transparent;
}
#productos__Galeria .galeriaFoto:hover {
  transform: scale(1.2);
}

.cartaSuperior {
  width: 50%;
}

.infoContacto {
  width: 50%;
  height: auto;
  display: inline-block;
  flex-direction: column;
  gap: 3rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
.infoContacto a {
  margin-bottom: 1rem;
}
.infoContacto__Izq {
  width: 50%;
  height: auto;
  display: flex;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  border-radius: 10px;
  background: rgb(204, 205, 208);
  background: linear-gradient(135deg, rgb(204, 205, 208) 15%, rgb(220, 221, 225) 53%, rgb(255, 255, 255) 83%);
}
.infoContacto__Der {
  width: 43%;
  height: auto;
  display: flex;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
.infoContacto__Der iframe {
  border-radius: 10px;
}

#contact-us {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  width: 48%;
  margin: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}
#contact-us form {
  vertical-align: top;
  padding: 1rem;
  border-radius: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  background: rgb(204, 205, 208);
  background: linear-gradient(135deg, rgb(204, 205, 208) 15%, rgb(220, 221, 225) 53%, rgb(255, 255, 255) 83%);
}
#contact-us form input {
  padding: 0.2rem;
  margin-bottom: 1rem;
}
#contact-us form #hola {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: #0632ad;
  font-size: 1.2rem;
  color: white;
  border: none;
}

/* MEDIA QUERIES 1440 PX */
@media screen and (max-width: 1440px) {
  #productos__Galeria {
    align-items: center;
  }
  #contact-us {
    width: 47%;
  }
}
/* MEDIA QUERIES 1024 PX */
@media screen and (max-width: 1024px) {
  .container-fluid .navbar-brand img {
    width: 265px;
    height: 75px;
  }
  .container-fluid .navbar .collapse ul {
    gap: 1;
  }
  .infoContacto {
    width: 100%;
    height: auto;
  }
  .infoContacto .infoContacto__Izq {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .infoContacto .infoContacto__Der {
    width: 60%;
    justify-content: center;
  }
  #contact-us {
    width: 100%;
  }
  #contact-us form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* MEDIA QUERIES 768 PX */
@media screen and (max-width: 768px) {
  .cartaSuperior {
    width: 70%;
  }
}
/* MEDIA QUERIES    320 px */
@media screen and (max-width: 320px) {
  #imgPortada {
    background-size: cover;
    background-position: center;
    width: 200%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .footer__Iconos {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: 2rem;
    align-items: center;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor__uno {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .contenedor__dos {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .infoContacto {
    margin-left: 0;
  }
  .infoContacto .infoContacto__Izq {
    width: 90%;
  }
  .infoContacto .infoContacto__Der {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  #contact-us form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .cartaSuperior {
    width: 90%;
  }
}
/* ESTILOS SCSS */
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.7rem;
}

#MenuNavegacion ul li a:hover {
  color: #0D6EFD;
}

.cajaF {
  width: 98%;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cajaF__linea {
  border-color: #0D6EFD;
  background: #0D6EFD;
  opacity: 100%;
  height: 3.7px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */